*{
    margin: 0;
    padding: 0;
   
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 192, 192);
    position: fixed;
    width: 100%;
}
.flag{
    width: 20px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    height: 200px;
    width: 100%;
}
.nav{
    margin-left: 8px;
    background-color: transparent;
    border: none;
    color: rgb(122, 119, 119);
}
.nav:hover {
    border-bottom: 2px solid rgb(65, 202, 65); /* Ensure border type is solid */
}
.navbar{
    border: 2px rgb(248, 244, 244) solid;
}
.navb{
    background-color: rgb(26, 225, 26);
    margin-left: 12px;
    width: 120px;
    height: 35px;
}
.navba{
    background-color: rgb(19, 183, 238);
    margin-left: 12px;
    width: 120px;
    height: 35px;
}
.imag{
    height: 130px;
}
.explore{
    width: 140px;
    height: 40px;
    margin-top: 30px;
}
.title{
    display: flex;
}
.titl{
    margin-top: 200px;
}
.h2{
    margin-top: 30px;
}
.general {
    margin-left: 60px;
    width: 120px;
    height: 50px;
}
.general1{
    margin-left: 50px;
    width: 120px;
    height: 20px;
}
.quick{
    margin-left: 60px;
    background-color: rgb(47, 210, 47);
    width: 120px;
    height: 50px;
}
.general0{
    width: 220px;
    height: 50px;
    margin-left: 60px;
}
.impbtn{
    background-color: rgba(182, 239, 73, .2);
    padding-block: 20px;
}
.promote{
    margin-top: 30px;
    height: 500px;
    width: 100%;
}
.what{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.tag{
    display: flex;
}
.d1{
    display: flex;
    width: 200px;
    margin-left: 28px;
    margin-top: 50px;
    background-color: rgba(165, 250, 6, 0.2);;
}
.cards{
   display: flex;
   justify-content: space-evenly;
   margin-top: 30px; 
}
.card1{
   
    
}
.p1{
    height: 200px;
    width: 250px;
    background-color: grr;
}
.b1{
    height: 50px;
    width: 252px;
    background-color: rgb(20, 239, 20);
}
.p{
    width: 1000px;
    display: flex;
    flex-direction: row; /* Aligns child divs in a horizontal row */
    justify-content: space-between; /* Distributes space evenly between the child divs */
    align-items: flex-start; /* Aligns items at the top of the container */
    gap: 20px;
    margin-top: 30px;
}
.proj{
    display: flex;
}
.tharparker{
    display: block;
}
.servic{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 30px;
    background-color: rgb(56, 109, 214);
    height: 200px;
}
.test{
    display: block;
    text-align: center;
    justify-content: center;
    height: 200px;
}
.four{
    display: block;
}
.boss{
    background-color: rgb(206, 201, 201);
}
.bss{
    display: block;
    margin-left: 500px;
   
}
.uuncle{
    margin-right: 300px;
}
.uncle{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    margin-left: 100px;
}
.medi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
iframe{
    margin-left: 30px;
}
.title0{
    display: flex;
}
h3{
    margin-left: 30px;
    margin-bottom: 30px;
}
.new{
    margin-left: 600px;
}
.ce{
    width: 300px;
    height: 190px;
}
.bn{
    background-color: rgb(31, 248, 31);
    margin-bottom: 8px;
    margin-top: 4px;
}
.car1{
    background-color: rgb(101, 100, 100);
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.b00{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
}

.b01{
    display: block;
    margin-left: 450px;
    height: 30px;
    width: 400px;
    margin-top: 8px;
}
.guide{
    background-color: rgb(15, 109, 249);
}
.social{
    display: flex;
    
}
.so{
    width: 20px;
    height: 25px;
}
.int{
    display: block;
    background-color: transparent;
    border: transparent;
    margin-top: 12px;
}
.f1{
    display: flex;
    padding: 40px;
    background-color: grey;
    border-bottom: 2px solid white;
}
.text{
    display: flex;
   
}
.powered{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-bottom: 2px solid white;
    height: 100px;
}
a{
    text-decoration: none;
}

